<app-navbar></app-navbar> 

<app-shopping-cart></app-shopping-cart>
<ion-content class="main-content">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <app-product-list></app-product-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<app-product-list></app-product-list>

<!-- <app-movies></app-movies> -->

<!-- counter -->
<!-- <app-scoreboard></app-scoreboard> -->